body {
  font-size: 100%;
  background-color: rgb(37,37,37);
}

img {
  max-width: 100%;
}

#img-dian { margin: auto 3vw; }
#img-deadadmin { margin: auto 5vw;  }

.header {
  color: rgb(255,255,255);
  background-color: rgb(114,114,114);
  text-align: center;
}

.text {
  letter-spacing: .25em;
  color: rgba(255,0,0,.55);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px rgba(255,0,0,0.75), 0 0 70px rgba(255,0,0,0.80);
}

#lt {
  text-align: center;
}

#lt-title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  -ms-align-items: center;
  align-items: center;

  justify-content: center;

  font-size: 5vw;
}

#lt-space { height: 4vh; }

.lt-text {
  writing-mode: vertical-rl;
  font-size: 6vw;

  border: 5px groove rgb(180,180,180);
  border-radius: 5px;
  -webkit-box-shadow: 7.5px 7.5px 5px rgb(114, 114, 114);
  box-shadow: 7.5px 7.5px 5px rgb(114, 114, 114);
  padding: 1.5vw;
}

@media screen and (max-width: 900px) {
  #img-dian { margin: auto 3vw; width: 20vw; }
  #img-deadadmin { margin: auto 4.5vw; width: 45vw; }

  #lt-title {
    font-size: 8vw;
  }

  .lt-text {
    font-size: 9vw;
    padding: 3vw;
    border: 3px groove rgb(180, 180, 180);
  }
}
